$font-text: 'Ubuntu', sans-serif;
$font-title: 'Roboto Slab', serif;
$black: #000;
$white: #fff;
$orange: rgb(255, 127, 0);
$light-orange: rgb(204, 109, 14);
$green: rgb(4, 60, 26);
$gray: #c9c9c9;
$gray-plr: #5c5c5c;
$blue: rgb(15, 22, 203);

/* Media */
$container-br: 1230px;
$tablet-br-1: 991px;
$tablet-br-2: 767px;
$mobile-br: 414px;
