body {
    margin: 0;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    line-height: 1.2;
}

a {
    text-decoration: none;
}

p {
    margin: 10px 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    padding: 30px 0;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: baseline;
}

.header__title {
    font-weight: 600;
    font-size: 38px;
    line-height: 1.1;
    margin-left: 10px;
}

.header__content {
    width: 50%;
    display: flex;
    justify-content: space-between;

}

.header__link {
    margin: 0 10px;
    display: inline-block;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: #fff;

    transition: all .2s ease;
}

.header__link:hover {
    /*color: #ccc;*/
    color: rgba(255, 127, 0, 1);
}

/* Intro */
.intro {
    width: 100%;
    height: 100vh;
    padding-top: 110px;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 550px;
    column-gap: 80px;

    color: #fff;

}

.intro:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    height: 100%;
    width: 53%;
    background-color: /*#005321;*/ rgba(4, 60, 26, .9);

}


.intro__banner {
    background: #8e9a9a url(../images/intro/intro.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    position: relative;
    z-index: 3;

    padding: 60px 0;

}

.intro__banner:after {
    content: "";
    display: block;
    width: 100%;
    max-width: 650px;
    height: 100%;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;

    background-color: rgba(201, 201, 201, 0.4);
}

.intro__titles {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 400px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-left: auto;
    margin-right: 210px;

    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.intro__suptitle {
    margin-bottom: 20px;

    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
}

.intro__title {
    margin-bottom: 15px;

    transition: transform .2s ease;
}

.intro__title:hover {
    transform: translate3d(10px, 0, 0);
}

.intro__title a {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;

    text-shadow: 1px 1px 2px #000;
}

.intro__subtitle {
    margin-bottom: 40px;

    transition: transform .2s ease;
}

.intro__subtitle:hover {
    transform: translate3d(10px, 0, 0);
}

.intro__subtitle a {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;

    color: inherit;
    text-shadow: 1px 1px 2px #000;
}

.intro__content {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 400px;

    margin: auto 0;

    font-size: 18px;
    font-weight: 300;
}

/* Continue */

.continue__link {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9);

    width: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    transition: all .2s ease;
}

.continue__link--intro {
    text-shadow: 1px 1px 2px #000;
}

.continue__link:hover {
    transform: translate3d(10px, 0, 0);
    color: rgba(255, 127, 0, 1);
}

.continue__link span {
    margin-right: 15px;
}

.continue__icon {
    fill: rgba(255, 255, 255, 0.9);
}

.continue__link--intro .continue__icon {
    filter: drop-shadow(1px 1px 2px #000);
}


.continue__link:hover .continue__icon {
    fill: rgba(255, 127, 0, 1);
}

/* Popular */
.popular__suptitle {
    font-weight: 600;
    font-size: 42px;
    line-height: 1.2;
    padding: 30px 0 30px 20px;

    background-color: rgba(204, 109, 14, .8);
}




.popular__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 250px);
    grid-auto-rows: 250px;

    grid-auto-flow: dense;

}

.popular__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;

    color: #fff;
    overflow: hidden;
}

.popular__item--main {
    grid-column: 1/4;
    grid-row: 1/3;
}

.popular__item--twocolumns {
    grid-column-start: span 2;
}

.popular__img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);

    display: block;
    height: 105%;
    min-height: 250px;

    transition: all .5s ease;
}

.popular__link:hover .popular__img {
    height: 115%;
}

.popular__item--main .popular__img, .popular__item--twocolumns .popular__img  {
    max-width: 105%;
    height: auto;
}

.popular__item--main .popular__link:hover .popular__img {
    max-width: 115%;
    height: auto;
}

.popular__item--twocolumns .popular__link:hover .popular__img {
    max-width: 115%;
    height: auto;
}

.popular__content {
    position: relative;
    z-index: 2;
}

.popular__title {
    margin-bottom: 10px;

    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;

    color: #fff;
    text-shadow: 1px 1px 2px #000;

}

.popular__footer {
    display: flex;
    align-items: center;
}

.popular__icon {
    fill: #fff;
    filter: drop-shadow(1px 1px 2px #000);
}

.popular__data {
    margin-left: 15px;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 18px;
    color: #fff;

    text-shadow: 1px 1px 2px #000;
}






















/* Article */
.article__page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 20px;

    margin-bottom: 20px;

}

.article__item {
    box-shadow: 0 10px 15px #000;
    overflow: hidden;

    align-self: start;

}

.article__photo {
    position: relative;
    height: 250px;
    overflow: hidden;
}

.article__img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);

    display: block;
    max-width: 105%;
    height: auto;

    transition: all .3s ease;
}

.article__photo a:hover .article__img {
    max-width: 115%;
}

.article__content {
    padding-bottom: 20px;
}

.article__title {
    margin-left: 20px;
    padding: 15px;
    background-color: rgba(204, 109, 14, .8);
    margin-bottom: 15px;
    transition: transform .2s ease;

    cursor: pointer;
}

.article__title:hover {
    transform: translate3d(10px, 0, 0);
}


.article__title a {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;

    color: inherit;
}

.article__text {
    padding: 0 20px;
}

.article__footer {
    margin: 40px 20px 30px 0;
    padding: 15px 0 15px 20px;


    background-color: rgba(4, 60, 26, 0.7);

    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}

.article__footer li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.article__link {
    margin-bottom: 7px;

    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 20px;
    color: inherit;

    transition: color .2s ease;
}

.article__link:hover {
    color: rgba(255, 127, 0, 1);
}

.article__icon {
    fill: #fff;
}

.article__data {
    margin-left: 15px;
    font-size: 18px;
}


































