.add-post {
    margin-bottom: 3rem;
    padding: 2.5rem;
    background-color: lighten($gray, 10%);
    box-shadow: 0 10px 15px $black;

    &__form {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__inputs {
        display: block;
        width: 100%;
    }

    &__input {
        display: block;
        width: 100%;
        flex-grow: 1;
        padding: 1rem 1.5rem;
        margin-bottom: 1.5rem;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $gray-plr;

        font-family: $font-text;
        font-weight: 400;
        line-height: 1.4;
        font-size: 1.8rem;
        color: $black;

        &::placeholder {
            color: $gray-plr;
        }

        &:focus {
            outline: none;
            border-color: $black;
        }

    }

    &__textarea {
        resize: none;
    }

    &__type {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        &.hide {
            display: none;
        }
    }

    &__radio {
        font-family: $font-text;
        font-size: 1.6rem;
        line-height: 1.1;
        font-weight: 400;
        color: $black;
        width: 25%;

        label {
            padding-left: .5rem;
        }
    }

    &__group {
        flex-shrink: 0;
        width: 10.75rem;
        padding-left: 1.75rem;
        display: flex;
        justify-content: flex-end;
    }

    &__file {
        flex-shrink: 0;
        display: block;
        margin-right: 1rem;
        height: 4rem;
        width: 4rem;

        background: $gray url(../images/add-post/camera.svg) center no-repeat;
        border-radius: 50%;
        border: 2px solid $gray-plr;

        cursor: pointer;

        transition: background-color .2s ease-in-out;

        input {
            display: none;
        }

        &:hover {
            background-color: darken($gray, 5%);
        }
    }
}


/*=================== Media Add-Post ===================*/
@include media($tablet-br-1) {
    .add-post {
        &__type {
            row-gap: 1rem;
        }

        &__radio {
            width: 50%;
        }
    }
}

@include media($tablet-br-2) {
    .add-post {
        &__radio {
            width: 100%;
        }
    }
}

@include media($mobile-br) {

    .add-post {
        padding: 1.5rem;

        &__input {
            font-size: 1.4rem;
            padding: 1rem .5rem;
        }

        &__radio {
            font-size: 1.4rem;
            label {
                padding-left: .25rem;
            }
        }

        &__group {
            width: 9rem;
            padding-left: 1rem;
        }

        &__file {
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}
