/* Article */
.article {
    margin: 0 0 8rem;
}

.article__suptitle {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.2;
    margin-bottom: 7rem;
}

.article__page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 2rem;

}

.article__item {
    box-shadow: 0 5px 15px $black;
    overflow: hidden;

    position: relative;
    padding-bottom: 13.5rem;

    &--text {
        grid-column-start: span 3;
    }

    &--image {
        grid-column-start: span 2;
    }

    &--open {
        margin: 15rem 0 10rem;
        padding: 3rem 2rem;
    }

}

.article__img {
    display: block;
    max-width: 100%;
    height: auto;

}

.article__content {
    padding: 0 2rem;
}

.article__content--open {
    padding: 0;

}

.article__title {
    font-family: $font-title;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.2;
    margin-right: -2rem;
    padding: 1.5rem;
    background-color: rgba($light-orange, .8);
    box-shadow: 0 5px 10px rgba($black, .4);
    margin-bottom: 2rem;


}


.article__title-link {
    display: block;
    font-family: $font-title;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.2;



    color: inherit;
    transition: transform .2s ease;

}

.article__title-link:hover {
    transform: translate3d(1rem, 0, 0);
}


.article__text {
    margin-bottom: 2rem;

    height: 100%;
    max-height: 13em;

    text-overflow: ellipsis;
    overflow: hidden;
}

.article__footer {
    position: absolute;
    width: 95%;
    bottom: 2rem;
    left: 0;
    z-index: 1;
    padding: 1.5rem 3rem 1.5rem 2rem;
    margin: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


    background-color: rgba($green, 0.7);

}

.article__data, .article__footer__right {
    font-family: $font-title;
    font-weight: 600;
    color: $white;
    font-size: 1.6rem;
}

.article__data {
    margin-right: 2.5rem;
    margin-bottom: .5rem;
    list-style: none;

    li {

        display: flex;
        align-items: center;
    }

}

.article__data--open {
    color: $black;
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 0;
    margin-bottom: 0;

    display: flex;

    li {
        margin-left: 4rem;
        position: relative;

        &:before {
            content: "";
            height: .35em;
            width: .35em;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 50%;
            left: -2.3rem;
            background-color: $black;

            transform: translateY(-50%);

        }

    }

    li:first-child {
        margin-left: 0;

        &:before {
            display: none;
        }

    }


}

.article__data--related {
    color: $white;
    font-size: 1.6rem;
    margin-bottom: 0;

    li:before {
        background-color: $white;
    }
}

.article__link {
    margin-bottom: .7rem;

    font-family: $font-title;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.6rem;
    color: inherit;

    transition: color .2s ease;
}

.article__link:hover {
    color: $orange;
}

.article__data--open {
    .article__link {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 0;
    }
}

.article__data--related {
    .article__link {
        font-size: 1.6rem;
    }
}

.article__icon {
    width: 2rem;
    height: 2rem;
    fill: $white;
}

.article__data--open {
    .article__icon {
        fill: $black;
    }
}

.article__data--related {
    .article__icon {
        fill: $white;
    }
}

.article__date {
    margin-left: 1rem;
}



.article__actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

}

.article__actions__link {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    font-family: $font-text;
    color: inherit;
    line-height: 1.2;
    font-weight: 400;
    font-size: 1.6rem;
    transition: color .2s ease;

    &:hover {
        color: $orange;
    }

}

.article__actions-icon {
    width: 2.2rem;
    height: 2.2rem;

    fill: $black;
    transition: fill .2s ease;

}

.article__actions-icon#arrow-close {
    transform: rotate(180deg);
}

.article__actions__link:hover .article__actions-icon {
    fill: $orange;
}

.article__subtitle {
    color: $black;
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 700;

    margin-bottom: 4rem;

    &--white {
        color: $white;
    }
}

.article__content-inner {
    font-size: 1.6rem;
    height: auto;
    max-height: none;
    margin-top: 4rem;

    h2, h3, h4, h5, h6 {
        font-weight: 700;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1.5em;

    }

    h3 {
        font-size: 1.4em;

    }

    h4 {
        font-size: 1.25em;

    }

    h5 {
        font-size: 1.15em;
    }

    h6 {
        font-size: 1em;
    }

    ul, ol {
        margin-bottom: 2rem;

    }

    ul {
        list-style: square;
        list-style-position: inside;

    }

    ol {
        list-style: decimal;
        list-style-position: inside;
    }

    p {
        margin-bottom: 2rem;
    }

    table {
        width: 100%;
        margin-bottom: 2rem;


    }

    td, th {
        text-align: center;
        border: 2px solid $black;
        padding: .3em;
    }

    th {
        background-color: lighten($green, 2%);
        color: $white;

    }

    caption {
        margin: 1rem 0;
        text-align: center;
        font-weight: 500;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    a {
        color: $blue;

        &:hover {
            text-decoration: underline;
        }
    }
}


/*=================== Media Article ===================*/

@media (max-width: 991px) {

    .article__page {
        grid-template-columns: repeat(2, 1fr);

    }

    .article__item {
            &--text {
                grid-column-start: span 2;
            }

        }

}

@media (max-width: 767px) {

    .article__suptitle {
        font-size: 3.8rem;
    }

    .article__page {
        grid-template-columns: 1fr;

    }

    .article__item {
            &--text {
                grid-column-start: span 1;
            }

            &--image {
                grid-column-start: span 1;
            }

        }

}

@media (max-width: 414px) {

    .article__suptitle {
        font-size: 3.6rem;
        margin-bottom: 5rem;
        text-align: center;
    }

    .article__title a {
        font-size: 2.2rem;
    }

    .article__text {
        margin-bottom: 3rem;
    }

    .article__actions {
        flex-direction: column;


        &__link {
            margin-bottom: 2rem;
            justify-content: center;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }


    .article__data--open {
        flex-direction: column;

        li {
            margin-left: 0;
            margin-bottom: .5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        li:before {
            display: none;
        }
    }

    .article__content-inner {
        margin-top: 3rem;
    }

}

