/* Feedback */
.feedback {
    background: #a39393 url(../images/feedback_bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    padding: 5rem 0;
    position: relative;
}

.feedback:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    background-color: rgba($gray, 0.5);
}

.feedback__inner {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 60rem;

    margin: 0 auto;
    text-align: center;
}

.feedback__title {
    font-size: 4rem;
    font-weight: 600;

    margin-bottom: 1.5rem;

}

.feedback__subtitle {
    font-size: 3.6rem;
    font-weight: 600;

    margin-bottom: 3rem;
}

.feedback__form {
    display: flex;
    flex-direction: column;
}

.feedback__input {
    width: 100%;
    height: 4rem;
    display: block;

    padding: 1rem .5rem;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid $black;

    line-height: 1.3;
    font-size: 1.8rem;
    font-weight: 400;
    color: $black;
    font-family: $font-text;


    margin-bottom: 2rem;
}

.feedback__input::placeholder {
    color: $gray-plr;
}

.feedback__input:focus {
    outline: 0;
    border-color: $light-orange;
}

.feedback__message {
    height: auto;
    resize: none;
    padding: .5rem 1rem;
}



/*=================== Media Feedback ===================*/

@media (max-width: 767px) {

    .feedback__title {
        font-size: 3.6rem;
    }

    .feedback__subtitle {
        font-size: 3.2rem;
    }

}

@media (max-width: 414px) {

    .feedback__title {
        font-size: 2.8rem;
    }

    .feedback__subtitle {
        font-size: 2.4rem;
    }
}



