/* Footer */

.footer {
    background-color: rgba($green, .9);
    padding: 4rem 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;
}

.footer__logo {
    display: flex;
    align-items: baseline;
}

.footer__title {
    color: $white;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1.1;
    margin-left: 1rem;
}

.footer__backpack {
    width: 3.5rem;
    height: 3.5rem;
    fill: $white;
    stroke: $white;
}

.footer__links {
    text-align: center;
}

.footer__media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.footer__icon {
    display: inline-block;
    margin: 0 1rem;

}

.footer__svg {
    fill: $white;
    transition: fill .2s ease, transform .2s ease;
}

.footer__icon:hover  .footer__svg {
    fill: #ff8000;
    transform: translateY(-.7rem);
}

.footer__email {
    color: $white;
    line-height: 1.1;
    font-size: 1.8rem;
    font-family: $font-text;
    font-weight: 400;

    transition: color .2s ease;
}

.footer__email:hover {
    color: $orange;
}

.footer__copyright {
    color: $white;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

/*=================== Media Footer ===================*/

@media (max-width: 767px) {

    .footer__content {
        flex-direction: column;
    }

    .footer__logo {
        margin-bottom: 2.5rem;
    }


}

@media (max-width: 414px) {

    .footer {
        padding: 2.5rem;
    }


    .footer__title {
        font-size: 2.8rem;
    }

    .footer__backpack {
        width: 3.2rem;
        height: 3.2rem;
    }

    .footer__media {
        margin-bottom: 1.5rem;
    }
}


