/* Header */
.header {
    width: 100%;
    padding: 0 0 0 1.5rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    background-color: $white;
}

.header:after {
    content: "";
    display: block;
    width: 53%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    background-color: $green;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: baseline;
}

.header__title {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 1;
    margin-left: 1rem;
}

.header__icon {
    fill: $black;
    width: 4rem;
    height: 4rem;
}


/*=================== Media Header ===================*/
@include media($container-br) {
    .header {
        padding: 2rem 1.5rem;
    }
}

@include media($tablet-br-1) {

    .header:after {
        display: none;
    }

    .header__title {
        font-size: 3.6rem;
    }

}

@include media($mobile-br) {

    .header__title {
        font-size: 3.2rem;
    }

    .header__icon {
        height: 3.5rem;
        width: 3.5rem;
    }

}

