/* Header */
.header {
    width: 100%;
    padding: 0 0 0 1.5rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    background-color: $white;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: baseline;
}

.header__title {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 1.1;
    margin-left: 1rem;
}

.header__icon {
    fill: $black;
    width: 4rem;
    height: 4rem;
}


/*=================== Media Header ===================*/
@media (max-width: 1230px) {
    .header {
        padding: 2rem 1.5rem;
    }
}

@media (max-width: 991px) {

    .header__title {
        font-size: 3.6rem;
    }

}

@media (max-width: 414px) {

    .header__title {
        font-size: 3.2rem;
    }

    .header__icon {
        height: 3.5rem;
        width: 3.5rem;
    }

}

