/* Intro */
.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 75rem;
    padding-top: 11rem;
    padding-right: 4rem;

    color: $white;

}

.intro:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    height: 100%;
    width: 53%;
    background-color: $green;

}

.intro__inner {
    display: flex;
    flex-wrap: wrap;
}

.intro__banner {
    background: #8e9a9a url(../images/intro/intro.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    width: 65%;
    height: 75vh;
    min-height: 60rem;

    display: flex;
    align-items: flex-end;

    position: relative;
    z-index: 3;

    padding: 6rem 21rem 6rem 2rem;

}

.intro__banner:after {
    content: "";
    display: block;
    width: 100%;
    max-width: 65rem;
    height: 100%;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;

    background-color: rgba($gray, 0.4);
}

.intro__titles {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 40rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-left: auto;

    color: $white;
    text-shadow: 1px 1px 2px $black;
}

.intro__suptitle {
    margin-bottom: 2rem;

    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgba($white, 0.9);
}

.intro__title {
    margin-bottom: 1.5rem;

    transition: transform .2s ease;
}

.intro__title:hover {
    transform: translate3d(1rem, 0, 0);
}

.intro__title a {
    font-family: $font-title;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;

    text-shadow: 1px 1px 2px $black;
}

.intro__subtitle {
    margin-bottom: 4rem;

    transition: transform .2s ease;
}

.intro__subtitle:hover {
    transform: translate3d(1rem, 0, 0);
}

.intro__subtitle a {
    font-family: $font-title;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.2;

    color: inherit;
    text-shadow: 1px 1px 2px $black;
}

.intro__content {
    width: 27%;
    max-width: 40rem;

    margin: auto 0 auto 7rem;

    font-size: 1.8rem;
    font-weight: 300;
}

/*=================== Media Intro ===================*/

@media (max-width: 991px) {

    .intro {
        padding: 0;
        margin-top: 11rem;

        height: auto;
        background-color: rgba($green, .9);
    }

    .intro:after {
        display: none;
    }

    .intro__banner {
        width: 100%;
        height: 100%;
        max-height: 47rem;
    }

    .intro__content {
        width: 100%;
        max-width: none;
        margin: 0;
        padding: 3rem;

    }
}

@media (max-width: 767px) {

    .intro__banner {
        min-height: 50rem;
        padding-right: 15rem;
    }

    .intro__content {
        font-size: 1.6rem;
        padding: 3rem 1.5rem;
    }


}

@media (max-width: 600px) {

    .intro__banner {
        padding: 3rem;
    }

    .intro__titles {
        margin-left: 0;
    }
}

@media (max-width: 414px) {
    .intro {
        margin-top: 10rem;
    }
}

